@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@200;300;400;500;600;700;800&display=swap');
   
/* VARIABLES PARA COLOR Y TIPOGRAFÍA DE TODA LA PÁGINA */

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Syne', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-purple-light: #B579B8;
    --color-purple-dark: #804983;
    --color-purple-bg: #B76CB8;
    --color-purple-bg-contenido: #fcf1fd;
    --color-gray: #7B7B7B;
    --color-light-gray: #F9F9F9;
    --color-btn-crear: #2C893D;
    --color-btn-crear-dark: #1d5828;
    --color-btn-elim: #E23329;
    --color-btn-elim-dark: #a0251e;
    --color-btn-mod: #6750A4;
    --color-btn-mod-dark: #463770;
}

* {
    box-sizing: border-box;
}


/* INDEX */

.index-body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-purple-bg);
    color: var(--color-black);
}

/* HEADER Y CUERPO (FONDO BLANCO) */

.different-bg {
    background-color: var(--color-white);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* ERRORES */

.error {
    color:red;
}

.success {
    color:green;
}

/* HEADER INDEX (LOGO MORADO) */

.index-header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.index-logo {
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-left: 20px;
    margin-top: 1rem;
}

/* CONTENIDO INDEX */

.index-container {
    font-family: var(--font-secondary);
    max-width: 800px;
    margin: auto;
    padding: 2.5rem;
}

/* TITULO */

.index-container h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    padding: 1rem;
}

/* DESCRIPCION */

.intro {
    font-size: 1.3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--color-black);
    margin: 20px 0;
    padding: 1rem;
}

.highlight {
    font-size: 1.3rem;
    color: var(--color-purple-dark);
    text-transform: uppercase;
    padding: 1rem;
}

/* BOTON INICIAR SESION */

.index-btn {
    font-size: 1rem;
    font-family: var(--font-primary);
    background-color: var(--color-purple-light);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

.index-btn:hover {
    background: var(--color-purple-dark);
}

/* OPCIONES REGISTRO */

.register {
    color: var(--color-gray);
}

.register a {
    font-weight: 200;
    color: var(--color-purple-light);
    text-decoration: none;
}

.register a:first-child {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.register a:last-child {
    margin-left: 0.5rem;
}

.register a:hover {
    color: var(--color-purple-dark);
}

/* FOOTER */

.index-footer {
    background-color: var(--color-purple-bg);
    color: var(--color-white);
    padding: 1rem;
}

/* COLUMNAS FOOTER */

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    text-align: left;
}

.footer-section h4 {
    font-family: var(--font-secondary);
    font-size: 0.8rem;
}

.footer-section ul {
    font-family: var(--font-primary);
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    padding-bottom: 0.5rem;
}

.footer-section ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.6rem;
}

.subscribe div {
    position: relative;
    display: inline-block;
}

.subscribe input {
    padding: 5px;
    border: none;
    width: 175px;
    margin-top: 5px;
    font-size: 0.6rem;
}

.subscribe button {
    position: absolute;
    right: 2px;
    top: 30%;
    background-color: var(--color-white);
    border: 0;
    cursor: pointer;
}

.subscribe p {
    color: var(--color-white);
    opacity: 50%;
    font-size: 0.6rem;
}

/* DERECHOS Y REDES SOCIALES FOOTER*/

.footer-copy {
    border-top: 1px solid rgba(255, 255, 255, 0.226);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    flex-wrap: wrap;
}

.footer-copy a {
    color: var(--color-white);
    padding-left: 1rem;
    opacity: 50%;
    text-decoration: none;
}

.social.icons {
    display: flex;
    gap: 10px;
    padding-right: 0;
    flex-wrap: wrap;
}

.footer-copy img {
    margin-left: 0.5rem;
    width: 12.5px;
}

/* AJUSTE A PANTALLAS */

@media (max-width: 768px) {
    .container {
        padding: 30px 15px;
    }
    
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-copy {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 1rem; 
    }
    .social-icons {
        justify-content: flex-start; 
        margin-top: 1rem; 
    }
}

/* LOGIN */

.login-body {
    background: var(--color-purple-bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
}

/* SECCIÓN DE LA IZQUIERDA */

.left-section {
    color: var(--color-white);
    flex: 0.3;
    padding: 2rem;
    position: relative;
}

.logo {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.left-section h2 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    padding: 3rem;
}

.foto-login {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 150%;
}

/* SECCIÓN DE LA DERECHA */

.right-section {
    background: var(--color-white);
    color: var(--color-black);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex: 0.7;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-section h1 {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-family: var(--font-primary);
}

.login-register {
    align-self: flex-end;
    text-align: right;
}

.login-register p {
    color: var(--color-gray);
}

.login-register a {
    font-weight: 200;
    color: var(--color-purple-light);
    text-decoration: none;
}

.login-register a:hover {
    color: var(--color-purple-dark);
}

/* FORMULARIO (LABEL INCLUIDO EN INPUT) */

.right-section form {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 1.5rem; 
}

.input-group {
    width: 100%;
    display: flex;
    position: relative;
    padding: 1rem;
    flex-direction: column; 
    align-items: flex-end; 
}

.right-section label {
    display: block;
    position: absolute;
    font-size: 1rem;
    top: 0;
    color: var(--color-gray);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-white);
    align-self: flex-start;
}

.login-lab-email {
    margin-left: 22%;
}

.login-lab-pass {
    margin-left: 42%;
}

.right-section input {
    padding: 10px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    outline: none;
}

.right-section input:focus {
    border: 2px solid var(--color-purple-dark);
}

.login-email {
    width: 80%;
}

.login-pass {
    width: 60%;
}

.login-btn {
    font-size: 1rem;
    font-family: var(--font-primary);
    background-color: var(--color-purple-light);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.login-btn:hover {
    background: var(--color-purple-dark);
}

/* Responsividad */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .left-section {
        padding: 30px;
    }

    .right-section {
        padding: 20px;
    }
    .foto-login {
        width: 70%;
        position: relative;
        top: 0;
        left: 2.5rem;
    }
    .login-lab-email, .login-lab-pass {
        left: 100px;
    }
    .login-email, .login-pass {
        width: 80%;
    }
}


/* REGISTRO DEMANDANTE Y EMPRESA GLOBAL */

.registro-body {
    background: var(--color-purple-bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.registro-container h2 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.foto-registro {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 100%;
}

.right-section-register {
    background: var(--color-white);
    color: var(--color-black);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex: 0.7;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-section-register h1 {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: var(--font-primary);
}

.right-section-register form {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1.5rem; 
}

.right-section-register label {
    display: block;
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 2rem;
    color: var(--color-gray);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-white);
}

.right-section-register form > div {
    display: flex;
    width: 100%;
}

.input-group-register {
    width: 100%;
    display: flex;
    position: relative;
    padding: 1rem;
    flex-direction: column; 
    align-items: flex-start; 
}

.right-section-register input {
    padding: 10px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    outline: none; 
    width: 100%; 
}

.right-section-register input:focus {
    border: 2px solid var(--color-purple-dark);
}

.register-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 1rem;
}

.register-btn {
    font-size: 1rem;
    font-family: var(--font-primary);
    background-color: var(--color-purple-light);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.register-btn:hover {
    background: var(--color-purple-dark);
}

.register-login p {
    color: var(--color-gray);
}

.register-login a {
    font-weight: 200;
    color: var(--color-purple-light);
    text-decoration: none;
    margin-left: 0.5rem;
}

.register-login a:hover {
    color: var(--color-purple-dark);
}

/* DEMANDANTE */

.register-dem-email {
    width: 100%;
}


/* FOOTER GLOBAL */

.global-footer {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* COLUMNAS FOOTER */

.global-section ul li a {
    color: var(--color-gray);
}

.global-section p {
    color: var(--color-gray);
}

.global-input-subscribe {
    background-color:#FAF7FA;
}

.subscribe button {
    background-color: #FAF7FA;
}

/* DERECHOS Y REDES SOCIALES FOOTER*/

.global-footer-copy a {
    color: var(--color-gray);
}
  

/* HEADER */

body {
    margin: 0;
}

.HEADER {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(231, 224, 236, 0.8) 100%
    );
    min-height: 12.5vh;
}

.HEADER  .logo {
    position: absolute;
    top: 36px;
    left: 50px;
    background-size: contain;
}

.HEADER .user img {
    position: absolute;
    top: 36px;
    right: 50px;
    background-size: contain;
}

.HEADER .desplegable {
    display: none;
    position: absolute;
    top: 85px;
    right: 10px;
    background-color: var(--color-purple-bg-contenido);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.HEADER .user:hover .desplegable {
    display: block;
}

.HEADER .desplegable a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-gray);
    font-family: var(--font-secondary);
}

@media (max-width: 768px) {

    .HEADER {
        height: 15vh;
        padding: 0 3%;
    }

    .HEADER .logo, .HEADER .user {
        width: 40px;
    }
}

@media (min-width: 2000px) {

    .HEADER {
        height: 15vh;
        padding: 0 3%;
    }

    .HEADER .logo, .HEADER .user {
        width: 40px;
    }
}


/* CONTENIDO */

.CONTENIDO {
    width: 100%;
    background-color: var(--color-purple-bg-contenido);
    color: var(--color-black);
    padding: 5rem 0 5rem 0;
}
